---
import Layout from '../layouts/Layout.astro';
import FacebookFeed from '../components/FacebookFeed.astro';
---

<Layout title="About">
	<article class="flex flex-col space-y-5 py-5">
		<p>
			ATS is a members-owned and operated gun club located in Amherstburg,
			Ontario, Canada. We feature several venues for clay target shooting, a 50
			yard archery field, and a members-only 100 yard indoor/outdoor 8-position
			rifle and pistol range.
		</p>
		<p>
			Located at the centre of the property, a 2000 sq. ft. climate controlled
			clubhouse overlooks the trap fields. We are open year-round, host several
			registered ATA events and offer private rentals. Please follow the email
			button below for further inquiry.
		</p>
		<p>
			Amherstburg Target Sports is licensed to sell ammunition; however, we do
			not rent or supply firearms. You must provide your own equipment to shoot.
			A valid Firearms Licence (PAL) is required to purchase ammunition; 12 and
			20 gauge target shells are available.
		</p>
		<p>
			Currently, we are accepting new members on a limited basis. Completion of
			an Orientation / Range Safety Course is required before full range
			privileges are granted to new members. Annual memberships run between
			January 1st through December 31st. New memberships are pro-rated. Please
			contact us for details on individual and family rates.
		</p>
		<p>
			*** Updated: January 1st, 2023 - Amherstburg Target Sports is OPEN
			Wednesdays, Saturdays and Sundays 11:00am - 3:00pm and most holidays. The
			club is open to members and their invited guests ONLY, we are not
			accepting walk-ins at this time. New membership applications are being
			considered, inquires can be made via the email link below. -- Please do
			not attend the property if you have been sick or in contact with someone
			who has tested positive for COVID-19. Thanks for your understanding - ATS
			Board of Directors ***
		</p>
	</article>
</Layout>

<style lang="scss"></style>
