---

---

<div>
	<div id="fb-root"></div>
	<script
		async
		defer
		crossorigin="anonymous"
		src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0"
		nonce="JFBCJSrM"></script>

	<div
		class="fb-page"
		data-href="https://www.facebook.com/amherstburgtargetsports"
		data-tabs="timeline"
		data-width=""
		data-height=""
		data-small-header="true"
		data-adapt-container-width="true"
		data-hide-cover="false"
		data-show-facepile="true"
	>
		<blockquote
			cite="https://www.facebook.com/amherstburgtargetsports"
			class="fb-xfbml-parse-ignore"
		>
			<a href="https://www.facebook.com/amherstburgtargetsports"
				>Amherstburg Target Sports</a>
		</blockquote>
	</div>
</div>

<style lang="scss"></style>
