---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Amherstburg Target Sports" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ATS - {title}</title>
	</head>
	<body class="min-h-screen">
		<header class="h-16 flex items-center px-16">
			<nav class="flex flex-row space-x-5">
				<a href="/" class="flex items-center justify-center"
					><img width="50px" src="/logo.jpeg" alt="ATS Logo" /></a
				>
				<div class="w-[30px]"></div>
				<a href="/" class="flex items-center justify-center">Home</a>
				<a href="/about" class="flex items-center justify-center">About</a>
				<!-- <a href="/gallary" class="flex items-center justify-center">Gallary</a> -->
				<a href="/contact" class="flex items-center justify-center">Contact</a>
			</nav>
		</header>

		<main class="min-h-[calc(100vh-64px-64px) px-16">
			<slot />
		</main>

		<footer class="h-16 flex items-center justify-center px-16">
			<div>Copyright © 2022 | Amherstburg Target Sports</div>
		</footer>
	</body>
</html>

<style lang="scss" is:global></style>
